
.App-buyer-modal {
    .modal-header {
        background-color: black;
        border-bottom: 1px solid coral;
        color: whitesmoke;
        font-weight: 500;

        .modal-title.h4 {
            text-transform: uppercase;
        }
        
        .btn-close {
            background-color: gray;
            border-radius: 50%;
        }
    }

    .modal-body {
        .form-control {
            &:invalid:focus {
                border-color: red;
                box-shadow: 0 0 0 0.05rem red;
    
                & + label {
                    color: red;
                }
            }
    
            &:focus {
                border-color: coral;
                box-shadow: 0 0 0 0.05rem coral;
            }
        }
    }

    .modal-footer {
        small {
            color: red;
            font-weight: bold;
        }

        .btn-payout {
            width: 12rem;
        }
    }
}