@import "../../App.scss";

.App-item-horizontal-card {
    .card-title.h5 {
        font-size: 2rem;
        margin: 0;
    }

    .App-item-horizontal-card-price {
        &::before {
            content: "$";
        }

        color: coral;
        font-size: 1.7rem;
        font-weight: bold;

        span {
            color: black;
            font-style: italic;
            font-size: 0.8rem;
            font-weight: 500;
            margin-left: 0.5rem;
        }
    }

    .App-item-horizontal-card-description {
        border-left: 2px solid coral;
        border-radius: 2px;
        line-height: 1.2rem;
        margin: 1rem;
        padding: 0.5rem 1rem;

        p::before {
            content: "* ";
            color: gray;
            font-weight: bold;
        }

        p:last-child {
            margin: 0;
        }
    }

    .App-item-horizontal-btn {
        border-radius: 47px;
        border: 2px transparent inset;
        cursor: pointer;
        font-weight: bold;
        margin-left: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
        @include actionable();

        span {
            margin-left: 0.5rem;
        }
    }

    .App-item-horizontal-back-btn {
        background-color: transparent;
        border: unset;
        border-radius: 50%;
        color: gray;
        padding: 0.5rem;
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        transition: all 0.4s linear;

        &:hover {
            color: black;
        }
    }

    small {
        font-size: 1rem;
        font-style: italic;

        span {
            &::after {
                content: "u";
            }
        }
    }
}