@import "../../App.scss";

.App-item-horizontal-card {
    h1 {
        color: black;
        font-size: 2rem;
        font-style: initial;
        font-weight: 500;
        text-align: initial;
        text-transform: unset;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }

    .App-item-horizontal-card-price {
        color: coral;
        font-size: 1.7rem;
        font-weight: bold;

        span {
            color: black;
            font-style: italic;
            font-size: 0.8rem;
            font-weight: 500;
            margin-left: 0.5rem;
        }
    }

    .App-item-horizontal-card-description {
        border-left: 2px solid coral;
        border-radius: 2px;
        line-height: 1.2rem;
        margin: 1rem;
        padding: 0.5rem 1rem;

        p::before {
            content: "* ";
            color: gray;
            font-weight: bold;
        }

        p:last-child {
            margin: 0;
        }
    }

    small {
        font-size: 1rem;
        font-style: italic;
        width: 5rem;

        @media (min-width: 768px) and (max-width: 991.98px) {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        span {
            &::after {
                content: "u";
            }
        }
    }
}