@import "../../App.scss";

.App-info {
    color: whitesmoke;
    display: flex;
        flex-direction: column;
        align-items: center;
    font-size: 1.1rem;
    padding: 0 0 2.5rem;
    overflow: hidden;

    h1.black-title {
        color: black;
    }

    div {
        margin-bottom: 1rem;
    }

    h1, img {
        user-select: none;
    }

    img {
        height: 300px;
        margin-bottom: 1rem;
        width: 300px;
    }

    .btn-go-store {
        width: 12rem;
    }
}