@import "../../App.scss";

.App-item-card {
    h2 {
        min-height: 3.5rem;

        @media (max-width: 575.98px) {
            min-height: 4rem;
        }
    }

    .App-item-card-price {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .App-item-card-details {
        background-color: coral;
        border: 2px transparent inset;
        border-radius: 50%;
        line-height: 1rem;
        padding: 0.5rem;
		@include actionable();
    }

    small {
        font-style: italic;

        span {
            &:first-child{
                @media (max-width: 1199.98px) {
                    order: 2;
                }
            }

            &:last-child {
                @media (max-width: 1199.98px) {
                    order: 1;
                }

                &::before {
                    @media (min-width: 1200px) {
                        content: "|";
                        color: coral;
                        margin: 0 0.3rem;
                    }
                }

                &::after {
                    content: "u";
                }
            }
        }
    }
}