@import "../../App.scss";

.App-item-card {
    .card-title.h5 {
      	font-size: 1.1rem;
      	min-height: 2.3rem;

        @media (max-width: 575.98px) {
            min-height: 4rem;
        }
    }

    .App-item-card-price {
        &::before {
            content: "$";
        }

        font-size: 1.2rem;
        font-weight: bold;
    }

    .App-item-card-details {
        background-color: coral;
        border: 2px transparent inset;
        border-radius: 50%;
        line-height: 1rem;
        padding: 0.5rem;
		@include actionable();
    }

    small {
        font-style: italic;

        span:last-child {
            &::after {
                content: "u";
            }
        }
    }
}