@import "../../App.scss";

.App-navbar {
    background-color: coral;
    width: 100%;

    .App-logo {
        font-family: 'Libre Barcode 128 Text', cursive;
        font-size: 2.6rem;
        padding: 0 0 0 16px;

        @media (min-width: 991.98px) {
            padding: 0 0 0 48px;
        }
    }

    .collapse {
        @media (min-width: 991.98px) {
            padding: 0 0 0 48px;
        }
    }

    .App-navbar-items {
        .nav-link {
            font-size: 0.9rem;
            font-weight: bold;
            @include actionable();

            @media (min-width: 991.98px) {
                &::after {
                    content: "/";
                    color: black;
                    margin-left: 16px;
                }
    
                &:last-child::after {
                    content: "";
                    margin-left: 16px;
                }
            }
        }
    }
}