
.App-header {
  background-color: coral;
}

.App-content {
  .row-gap {
    row-gap: 1.5rem;
  }
}

.App-footer {
  color: whitesmoke;
  text-align: center;

  .desarrollador {
      display: inline;
      font-family: 'Satisfy', cursive;
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 0.3rem;
  }
}

@mixin actionable($color: whitesmoke, $bg: coral) {
  background-color: $bg;
  color: $color;
  transition: color 0.4s linear, border 0.4s linear;

  &:hover {
    border-color: lightgray;
    color: black;
  }

  &:active {
    border-style: outset;
  }
}